.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}

/*PAB*/

body {
	min-height: 100%;
	background-image: url(https://images.unsplash.com/photo-1422513391413-ddd4f2ce3340?q=80&fm=jpg&s=162d068a636d945cd9d124af17387fbd);
    -moz-background-size: cover;
      -o-background-size: cover;
         background-size: cover;
}

.herowrap {
	color: white;
}

.welcome-text h1 {
	font-size: 31px;
}

.welcome-text p {
	font-size: 21px;
}

.herowrap {
	margin-top: 50px;
}

.welcome-forms .form-group {
	margin-left: 0;
	margin-right: 0;
}
