.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}

[ng-click] {
	cursor: pointer;
}

/*CSS of PAB

COLORS :
562BD1
692BD1
8833DE
A85BF6
C994FF
*/

/*general*/

a {
		color: #8833DE;
		font-weight: 600;
}

a:hover, a:focus {
	color: #562BD1;
}

.nav > li > a {
	font-weight: 400;
}

.nav > li > a:hover {
	background-color: #C994FF;
}

.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
}

body {
		background-color: #241825;
		background-image: url(../img/background/background.jpeg);
	  background-repeat: no-repeat;
	  background-size: 100% auto;
	  background-position: center top;
		background-attachment: fixed;
		color: #C994FF;
		font-family: 'Open Sans', sans-serif;
}

.content .container {
		padding-top: 20px;
}


/*header*/
.navbar-brand img {
	width: 34px;
	border-radius: 5px;
}

.navbar-brand {
	padding: 8px;
}

.navbar-toggle span {
	background-color : #C994FF;
}

.navbar-toggle {
	border: 1px solid #C994FF;
}

.navbar {
	background-color: rgb(29, 29, 29);
	background-color: rgba(29, 29, 29, 0.8);
}

/*home*/

.welcome-text{
	margin-bottom: 20px;
}

.welcome-text h1 {
	font-size: 25px;
	font-weight: 300;
}

.welcome-text p {
	font-size: 16px;
	font-weight: 300;
}

.herowrap {
	margin-top: 20px;
	font-weight: 300;
}

.herowrap .logo-home {
	margin-bottom: 20px;
	max-width: 300px;
}

.herowrap h2 {
	font-size: 21px;
	font-weight: 300;
}


.welcome-forms .form-group {
	margin-left: 0;
	margin-right: 0;
}

.welcome-forms  {
	border: 1px solid #C994FF;
	border-radius: 5px;
	padding: 0 20px 20px 20px;
	margin-bottom: 20px;
}

/* Page */

.page-header {
    margin: 0 0 20px;
}
