<div class="add-linky-wrapper" close-others="oneAtATime">
  <a class="btn btn-add-linky" collapse="showForm" ng-click="toggleShowForm()">
   {{messageAdd}}
  </a>
  <div class="form-add-linky" collapse="!showForm">
    <form  name="linkyForm"  class="form-horizontal" data-ng-submit="submit()" novalidate>
      <a class="pull-right" ng-click="toggleShowForm();">Close</a>
      <div class="clearfix"></div>
      <fieldset >
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error': linkyForm.title.$dirty && linkyForm.title.$invalid }">
              <label class="control-label" for="title">Title</label>
              <div class="controls">
                <input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': linkyForm.link.$dirty && linkyForm.link.$invalid }">
              <label class="control-label" for="link">Link</label>
              <div class="controls">
                <input name="link"  type="text" data-ng-model="link" id="link" class="form-control" placeholder="Link" required>
              </div>
            </div>
          </div>
          <div class="col-sm-7 col-sm-offset-1">
            <div class="form-group">
              <label class="control-label" for="description">Description (optional)</label>
              <div class="controls">
                <textarea name="description" data-ng-model="description" id="description" class="form-control" cols="30" rows="5" placeholder="Description"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default pull-right" >
        </div>

      </fieldset>
    </form>
  </div>
</div>
